* {
    margin: 0;
    padding: 0;
}


main {
  text-align: center;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
}


nav  {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

a {
    margin: 20px 15px 12px 12px;
    text-decoration: none;
}

a:hover {
   text-decoration: underline;
   cursor: pointer;
}

.top-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#3c4043;
}

nav > img {
    height: 18px;
    margin:  20px 15px 12px 12px;
}


#google-menu-icon {
    height: 20px;
    margin-left: 10px;
    position: absolute;
    top: 15px;
    left: 10px;
    display: none;
}


button {
   height: 37px;
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 12px;
   background-color: #0066ff;
   width: 90px;
   border: none;
   border-radius: 5px;;
   color: white;
}


.top-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
   height: 35px;
   margin-left: 6px;
   margin-right: 20px;
   margin-top: 12px;
   background-color: #0066ff;
   width: 70px;
   border: none;
   border-radius: 5px;;
   color: white;
   font-size: 15px;
}

.top-button:hover {
     border-radius: 50%;
     cursor: pointer;
}


input {
    font-size: 16px;
    flex: 100%;
    width: 40%;
    border-radius: 20px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #3c4043;
    outline: none;
    color: rgba(0, 0, 0, 0.87);
}

#input-div {
    margin-bottom: 25px;
}

#search-icon-img {
     position: absolute;
     max-width: 100%;
     height: 1.1rem;
     right: 928px;
     top: 232px;
}


#search-voice-icon-img {
    position: absolute;
     max-width: 100%;
     height: 1.1rem;
     right: 425px;
     top: 232px;
}



.search-button {
    font-family: Arial, Helvetica, sans-serif;
    width: 115px;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    line-height: 12px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #f8f9fa;
    
}

.google-languages {
    margin-top: 35px;
}

#footer-div {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 230px;
}


span {
    margin-left: 20px;
    margin-right: 22px;
   }

   span:hover {
     text-decoration: underline;
     cursor: pointer;
   }

   /* mobile responsiveness*/
   @media (min-width: 360px) and (max-width: 640px) {
     #google-logo-container {
         margin-top: 70px;
     }
     #input-div {
        margin-bottom: 10px;
     }

     #typed {
        width: 75%;
        position: absolute;
        top: 260px;
        right: 40px;
     }
 
     #nigerian-languages {
        display: flex; 
        font-size: 13px;                                     

    }

    #first-div {
        flex-direction: column;
        
    }

    input {
        height: 30px;
    }

    #search-voice-icon-img {
        right: 48px;
        top: 267px;
    }

    #search-icon-img {
        top: 267px;
        right: 285px;
    }

    #google-menu-icon  {
      display: block;
    }
   }